
/* Menyknappen */
aside {
    position: fixed;
    margin-top: 0;
    top: 0.5%;
}
.menu_button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0;
    margin-left: 0.4vw;
}

.bar1, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.bar2 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.2s;
}

.toggle .bar1{
    transform: translate(0, 11px) rotate(-135deg);
}
.toggle .bar2 {
    opacity: 0;
}
.toggle .bar3 {
    transform: translate(0, -11px) rotate(-135deg);
}

/* Kod för meny */
.menu {
    position: absolute;
    display: block;
    min-width: 5vw;
    z-index: 1;
    /*background-color: rgb(250, 250, 250);*/
    background-color: #EFF9F8;
    left: -25vw;
    transition: 0.3s;
    margin-left: 0.4vw;
    border-left: solid black;
    border-right: solid black;
    /*box-shadow: 2px 0px #d6f4ff;*/
    
}
.show { /* Visar menyn */
    left: 0;
}
/* Kategorierna i menyn */
.titel {
    display: block;
    color: black;
    text-decoration: none;
    padding: 11px 16px;
    border-top: solid black;
    cursor: pointer;
    margin: 0;
}
.titel:last-child {
    border-bottom: solid black;
}
.titel:hover, #uppgifter_dropdown:hover {
    background-color: rgb(220, 220, 220);
}

/* Text under uppgifter-knappen */
.under_uppgifter {
    color: black;
    text-decoration: none;
    display: none;
}
.uppgifter_shown { /* Visar uppgifter-dropdownen */
    display: block;
}
#uppgifter_dropdown {
    display: block;
     color: black;
    text-decoration: none;
    padding: 11px 16px;
}
#uppgifter_dropdown:first-child {
    border-top: solid black;
}

/* Main */

.startsida {
    margin: 0;
    /* Backgrunds-bild */
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10vw;
    background-color: black;
}
.kontakt {
    margin: 0;
    /* Backgrunds-bild */
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10vw;
    background-color: black;

}
main {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    margin-top: 6vw;
}
img {
    width: 25vw;
    border: solid black 2px;
    margin: auto;
}